.cabecalho, .rodape, .separador, .bio, .perfilGit, .infoGit, .pesquisa
{
	background-color: #2e3440;
}

.cabecalho a:link
{
	color: #eceff4;
}

.cabecalho a:hover
{
	color: #88c0d0;
}

.cabecalho a:active 
{
  color: #5e81ac;
}

.cabecalho a:visited 
{
  color: #8fbcbb;
}

.principal
{
    background: linear-gradient(270deg, #88c0d0, #81a1c1, #5e81ac, #4c566a);
    background-size: 800% 800%;

    -webkit-animation: bannerGradient 9s ease infinite;
    -moz-animation: bannerGradient 9s ease infinite;
    animation: bannerGradient 9s ease infinite;
}

@-webkit-keyframes bannerGradient 
{
    0%
    {
		background-position:0% 50%
	}
    50%
    {
		background-position:100% 50%
	}
    100%
    {
		background-position:0% 50%
    }
}
@-moz-keyframes bannerGradient 
{
    0%
    {
		background-position:0% 50%
	}
    50%
    {
		background-position:100% 50%
	}
    100%
    {
		background-position:0% 50%
	}
}
@keyframes bannerGradient 
{
    0%
    {
		background-position:0% 50%
	}
    50%
    {
		background-position:100% 50%
	}
    100%
    {
		background-position:0% 50%
	}
}

.principal h1
{
	background: -webkit-linear-gradient(#4c566a, #2e3440);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Fira Sans;
}

.principal img
{
	max-width: 100%;
}

.separador
{
	padding: 1%;
}

.bio, .perfilGit, .infoGit, .pesquisa
{
	margin: 15px;
	padding-bottom: 1%;
	border-radius: 15px;
}

.bio code, .pesquisa code
{
	color: #ebcb8b;
	font-family: Fira Code Semibold;
}

.bio ul li, .infoGit ul li, .pesquisa ul li
{
	padding: 1%;
	margin: auto;
	display: flex;
	font-size: 0.8em;
	align-items:center;
}

.bio p, .infoGit p
{
	padding: 2%;
	color: #eceff4;
	font-size: 0.8em;
	align-items:center;
	text-align: justify;
	font-family: Fira Sans;
}

.bio h6, .infoGit h6, .pesquisa h6
{
	color: #d08770;
	font-size: 10px;
	padding-top: 15px;
	margin-left: 15px;
	font-family: Fira Code Semibold;
}

.bio img, .pesquisa img
{
	display: block;
	max-width: 70%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-radius: 20px;
}

.bio a
{
	color: #b48ead;
	font-size: 10px;
	margin-left: 20px;
	text-decoration: none;
	font-family: Fira Code Semibold;
}

.bio a:hover
{
	color: #eceff4;
}

.pesquisa input
{
	width: 70%;
	padding-top: 2%;
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pesquisa input[type=text]
{
	outline: none;
	color: #eceff4;
	font-size: 14px;
	font-family: Fira Code Semibold;
	background-color: #2e3440;
}

.pesquisa input[type=text]:focus 
{
	border: none;
	outline: none;
	border-bottom: 1px solid #d8dee9;
}
.rodape p
{
	padding: 1%;
	margin: auto;
	display: flex;
	color: #eceff4;
	font-size: 1em;
	align-items:center;
	justify-content:center;
	font-family: Fira Sans;
}
